@tailwind base;
@tailwind components;
@tailwind utilities;

::before,
::after {
  --tw-content: '';
}

body {
  box-sizing: border-box;

}
#home{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 55;
}

#line-clamp-1 {
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
}

#line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

#line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

#line-clamp-5 {
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 5;
}


#line-clamp-6 {
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 6;
}


#line-clamp-none {
  -webkit-line-clamp: unset;
}
